<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'dashboard' %}">
      Task Manager
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create_task' %}">Create Task</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'all_tasks' %}">All Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create_team' %}">Create Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'teams' %}">Teams</a>
          </li>
        {% endif %}
      </ul>
      {% if user.is_authenticated %}
        <ul class="navbar-nav ms-auto">
          {% include 'partials/menu.html' %}
        </ul>
      {% endif %}
    </div>
  </div>
</nav>