{% load widget_tweaks %}
{% for field in form %}
    {% if field.name != 'members_to_add' and field.name != 'members_to_delete' %}  
    <div class="mb-3">
      {{ field.label_tag }} 
        {% if form.is_bound %}
            {% if field.errors %}
                {% render_field field class="form-control is-invalid" %}
            {% else %}
                {% render_field field class="form-control is-valid" %}
            {% endif %}
        {% else %}
            {% render_field field class="form-control" %}
        {% endif %}
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
        {{ field.errors }}
        </div>
    </div>
    {% endif %}
{% endfor %}


<p>Members to add:</p>
<div class="overflow-auto border rounded" style="max-height: 495px;">
    {% for field in form.members_to_add %}
        <div class="form-check">
        {{ field }}
        {{ field.label_tag }}
        </div>
    {% endfor %}
</div>

 <div class="mb-3">
    {% if form.errors %}
        <div class="invalid-feedback">
        {{ form.errors }}
        </div>
    {% endif %}
</div>

<p>Members to delete:</p>
<div class="overflow-auto border rounded" style="max-height: 495px;">
    {% for field in form.members_to_delete %}
        <div class="form-check">
            {{ field }}
            {{ field.label_tag }}
        </div>
    {% endfor %}
</div>

<div class="mb-3">
    {% if form.members_to_delete.errors %}
        <div class="invalid-feedback">
            {{ form.members_to_delete.errors }}
        </div>
    {% endif %}
</div>


