{% extends 'base_content.html' %}
{% block content %}
<style>
  .return-button-container {
      margin-bottom: 20px;
      text-align: right;
  }
  .return-button {
      padding: 10px 20px;
      background-color: #f0f0f0;
      color: #333;
      text-decoration: none;
      border-radius: 5px;
      display: inline-block;
  }
</style>   

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <h1>Create a team</h1>
        <div class="container">
          <div class="return-button-container">
              <a href="{% url 'dashboard' %}" class="return-button">Return to Dashboard</a>
          </div>
        </div>
      </div>
      <form action="{% url 'create_team' %}" method="post">
        {% csrf_token %}
        {% include 'partials/select_users_form.html' with form=form %}
        <input type="submit" value="Create team" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
{% endblock %}